.Section1h2 {
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    display: flex;
}
.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
.section1wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}
#darkmodebtn {
    cursor: pointer;
}
@media (max-width: 200px) {
    .section1 {
        width: 80%;
    }
}
@media (min-width: 350px) {
    .section1 {
        width: 80%;
    }
}