body {
    font-family: 'Arial', sans-serif;
    transition: background-color 1s, color 1s;
}
a {
    text-decoration: solid;     
}
body::-webkit-scrollbar {
    display: none;
}
.dark-mode {
    background-color: #333;
    color: #fff;
}
.dark-mode .header1 {
    background-color: #333;
}
.dark-mode .header1 .mobileline {
    background-color: rgb(255, 40, 0)
}
.dark-mode .card  {
    background-color: transparent;
    color: #bcbcbc;
}
.dark-mode .card h3 {
    color: #fff;
}
.dark-mode #darkmodebtn {
    color: rgb(237, 237, 145);
}
.dark-mode .section3card {
    background-color: transparent;
}
.dark-mode .section3img img{
    border: none;
}
.dark-mode img {
    filter:grayscale(0.9);
    border: none;
}
.dark-mode .section4wrapper {
    background-color: #333;
}
.dark-mode h2 h3 {
    background-color: #333;
}
.section5-0:not(.dark-mode):only-child {
    display: none;
  }
  .section5-0.dark-mode :only-child {
    display: block;
  }
.section6wrapper.dark-mode .section6infodiv a{
    color: #bcbcbc;
}