.section3wrapper {
    font-family: 'Comfortaa', cursive;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.section3card {
    font-family: 'Comfortaa', cursive;
    width: 450px;
    height: 350px;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    padding: 0 10px 0 10px;
    text-align: flex-start;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 14px;
}

    .section3img{
        height: 300px;
        width: 250px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .section3img img {
        height: 325px;
        width: auto;
        border-radius: 0px 150px 0px 150px;
        border: 1px solid #ddd;
        /* filter:grayscale(0.8); */
    }
    .section3bodywrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 40px;
    }
@media (max-width: 450px) {
    .section3bodywrapper {
        gap: 60px;
    }
    .section3img {
        height: 425px;
    }
}
@media (max-width: 340px) {
    .section3bodywrapper {
        gap: 150px;
    }
}